<div class="header">
  <div id="login">
    <div><%= link_to 'Log In', "/login" %></div>
  </div>
  <div class="container">
    <img src="/assets/Doum_Logo.png" alt="Doum Logo">
    <h1>Story</h1>
  </div>
</div>

<div class="tags">
  <div class="container">
    <table align="center" width="0%" cellpadding="5px">
      <tr>
    <td><%= link_to 'New Story', new_story_path %></td>
    </tr>
  </table>
    <!-- <img src="/assets/plus.png" width="50px" height="50px"/> -->
  </div>
  <input class="txtBox" placeholder="Search" style="margin: 0 auto;" type="text" />
</div>




<div class="tags">
  <div class="container">
    <div class="cards row">
    	<% @stories.each do |s| %>
      <div class="card col-xs-4">
        <%= image_tag s.image%>
        <h2><%= s.title %></h2>
        <%= link_to "Explore", story_path(s) %>
        <span>Last Update: <br><%= s.created_at %></span>
      </div>
      <% end %>
    </div>
  </div>
</div>
